/* start of back cover*/
.back-cover {
  background: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.5;
  z-index: 9999;
}

/*End of back cover*/
/* start Sign in window*/
h3.login-message {
  padding-left: 12px;
  color: #333;
}

button.close {
  opacity: 1;
}

/*start sign in small button*/
.sign-in-button,
.sign-up-button {
  border: 1px solid #ffa700;
  background-color: #ffa700;
  color: #fff;
  width: 117px;
  cursor: pointer;
  transition: background-color 0.4s, 0.5s color;
}

.sign-in-button:hover,
.sign-up-button:hover {
  background-color: transparent;
  color: #000;
  transition: background-color 0.4s, 0.5s color;
}

.when-disabled {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  width: 117px;
  cursor: pointer;
}

.when-disabled:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/*forms*/
.hidden-input {
  display: none;
}

/* form hidden inputs */
.form-group input.form-control {
  background: rgba(238, 238, 238, 0.74);
}

.sign-in-window .form-group input.form-control {
  width: 100%;
}

.form-group input.form-control:focus,
.form-group input.form-control:active {
  box-shadow: none;
  outline: #ddd;
  border: solid 1px #000;
}

/* end of forms*/
/*big sign in*/
.bigger-sign-in {
  background: #333;
  color: #fff;
  width: 200px;
  border: 1px solid #333;
  transition: border-color 0.5s, background 0.5s;
}

.bigger-sign-in:hover {
  background: #ffa700;
  border: 1px solid #ffa700;
  transition: border-color 0.5s, background 0.5s;
}

/*end of big sign in*/
/* starting of devider*/
.my-left-border {
  border-right: 1px dotted #777;
}

/*devider Ending*/
/*start of right column social media*/

/*sign in text */
.sign-in-with {
  font-size: 25px;
  font-weight: 300;
}

.img-cont-f,
.img-cont-t,
.img-cont-p,
.img-cont-gp {
  height: 40px;
  width: 40px;
  padding: 2px;
  margin-right: -4px;
  transform: scale(1) rotate(45deg);
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.img-cont-f:hover,
.img-cont-t:hover,
.img-cont-p:hover,
.img-cont-gp:hover {
  transform: scale(1.5) rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

.img-cont-f {
  background: #3b5998;
  top: 34px;
}

.img-cont-p {
  background: #cb2027;
}

.img-cont-t {
  background: #55acee;
  top: 34px;
}

.img-cont-gp {
  background: #dc4e41;
}

.social-media-images img {
  transform: rotate(-45deg);
  height: 30px;
  width: 30px;
  margin: 5%;
}

.all-img-con {
  position: relative;
  width: 160px;
  height: 100px;
}

/*End of right column social media*/

/* the whole sign in section*/
section.sign-in-window {
  width: 844px;
  height: 377.95px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  margin: 150px auto;
  overflow: scroll;
}

/* the sign button container*/
.sign-cont {
  width: 240px;
}

.special {
  height: 20%;
}

/*************************************************/

/*starting of page*/

/*nav bar*/

/*navbar brand */
.my-brand {
  margin: auto;
}

h6.my-brand {
  letter-spacing: 12px;
}

.user img,
.search img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.search img {
  height: 25px;
  width: 25px;
  margin-top: 40px;
}

/*search field*/
.search-field {
  height: 60px;
  width: 460px;
  background: #000;
  z-index: 2;
  padding: 10px 0;
  position: absolute;
  right: 30px;
  display: none;
}

.search-field input.form-control {
  width: 327px;
  color: white;
}

.search-field input.form-control,
.search-btn {
  background: #000;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  margin: auto;
  box-shadow: none;
}

.search-btn {
  width: 93px;
  transition: color 1s ease-out, background 1s ease;
}

.search-btn:focus {
  outline: none;
  box-shadow: none;
}

.search-btn:hover {
  color: #000;
  background: #fff;
  transition: color 1s ease-out, background 1s ease;
}

/*starting of nav*/
.my-nav {
  margin-top: 50px;
}

/*the whole row of nav */
.li-cont {
  margin: auto;
}

/* the div holding list items*/

.li-cont li

/* the li of nav*/
  {
  display: inline-block;
  padding: 1px;
  margin: auto;
}

.li-cont li a

/* the a of nav*/
  {
  color: #333;
}

/* removing bootstrap setting for navbar-nav li*/
.navbar-light .navbar-nav .nav-link {
  color: #333;
  margin-right: 40px;
  transition: color 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffa700;
  transition: color 0.3s ease;
}

/*navbar toggler*/
.navbar-toggler {
  margin: auto;
}

/*end nav bar*/

/* strating of container fluid*/
.big-cover {
  background-image: url("../images/Webp.net-resizeimage.png");
  background-repeat: repeat;
  height: 800px;
}

.big-cover div.fashions-fade {
  background: #000;
  opacity: 0.7;
  height: 200px;
  width: 650px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 35%;
  margin-right: 10px;
}

.big-cover div h2 {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: #fff;
  margin-left: 30px;
}

.big-cover div h3 {
  position: absolute;
  bottom: 10%;
  font-size: 50px;
  margin-left: 80px;
  color: #ffa700;
}

/* Ending of container fluid*/

/* starting of Animated pics*/
.animated-pics {
  margin-top: 100px;
}

mated-pics .nav-tabs {
  border-bottom: 1px solid #ffa700;
}

.animated-pics .nav li a {
  color: #000;
  border-radius: 0;
}

.animated-pics .nav li {
  padding: 2px;
  font-size: 18px;
  margin-right: 10px;
}

.animated-pics .nav li a:focus {
  background-color: #ffa700;
  outline: none;
  color: #fff;
}

.animated-pics .nav li a:hover {
  border-color: transparent;
}

.myactive {
  background-color: #ffa700;
}

.animated-pics .nav li.myactive a {
  color: #fff;
}

.tab-content>div {
  display: none;
}

.tab-content>div:first-child {
  display: block;
}

/*tab images*/

.tab-bane div {
  display: inline-block;
  margin-right: 20px;
  margin: 0;
}

.fixing-cont {
  background: #000;
  z-index: 9979;
  position: relative;
}

.tab-bane div:last-child {
  margin-right: 0;
}

.tab-bane {
  margin-top: 50px;
}

.tab-bane .col-3 {
  position: relative;
}

/*text inder pics*/
.fixing-cont+p,
.fixing-cont+p+p {
  color: #ffa700;
}

.fixing-cont+p+p {
  color: #000;
}

.fixing-cont+p+p del {
  color: #777;
  font-weight: lighter;
}

.eye {
  width: 40px;
  height: 40px;
  background: #ddd;
  padding: 8px;
  position: absolute;
  top: -100px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 99999;
  display: none;
  transition: all 0.4s ease;
}

.eye:hover {
  background: #ffa700;
  transition: all 0.4s ease;
}

.fixing-cont {
  position: relative;
  overflow: hidden;
}

.js-animate .eye {
  transition: all 0s;
}

.js-animate:hover .eye {
  transition: all 0s;
}

.js-animate {
  text-align: center !important;
}

.animated-picsII .tab-bane div .shadow {
  background: #000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -400px;
  transform: rotate(-80deg);
  transition: transform 0.4s ease;
  display: none;
}

.animated-picsII .tab-bane div .shadow img {
  opacity: 0;
}

.tab-bane button,
.when-eye-clicked button.badge-pill {
  width: 100%;
  border: 1px solid #000;
  transition: color ease 0.7s, background ease 0.7s, border ease 0.7s;
}



.tab-bane button:hover,
.when-eye-clicked button.badge-pill:hover {
  background: #ffa700;
  color: #fff;
  transition: color ease 0.7s, background ease 0.7s, border ease 0.7s;
}

/* Ending of Animated pics*/

/* starting of hot deal*/
.hot-deal {
  margin-top: 200px;
}

.hot-deal>.row>div {
  padding: 0;
}

.grand {
  position: absolute;
  right: 10%;
  top: 30%;
  width: 303px;
  font-weight: bold;
  text-align: right;
}

.grand .discount span {
  color: #ffa700;
  font-weight: 400;
}

.grand .discount {
  font-size: 50px;
  display: block;
  font-weight: 400;
  text-align: left;
}

.shop-now {
  color: #ffa700;
  font-size: 22px;
}

.shop-now:hover {
  text-decoration: none;
  color: #000;
}

.shop-now::after {
  content: "\2192";
  color: #ffa700;
  font-size: 25px;
}

/*Text separator*/
.text-seperator-cont span {
  font-size: 50px;
}

.text-seperator-cont {
  margin: 80px auto;
}

.text-seperator-cont .text1::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100px;
  margin-bottom: 12px;
  margin-right: 5px;
  background: #ffa700;
}

.text-seperator-cont .text2::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 150px;
  background: #000;
  transform: rotate(-40deg);
  margin-right: -75px;
  margin-bottom: 15px;
}

.text-seperator-cont .text2 {
  margin-left: -57px;
}

/*Text separator Ending*/

/* carousal*/
.user-name {
  display: block;
  margin-bottom: 0px;
}

.after-special-deals .carousel .slide {
  margin-top: 30px;
  line-height: 40px;
  color: #fff;
  padding-bottom: 1px;
  padding-top: 20px;
}

.after-special-deals .carousel .slide span {
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 10px;
}

.after-special-deals .carousel-indicators li {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}

.after-special-deals .carousel-indicators {
  bottom: -3px;
}

.after-special-deals .carousel-indicators .active {
  background: #333;
  box-shadow: 0px 0px 20px #000;
}

.img-zoom__container:hover .img-zoom {
  transform: scale(1.2);
  transition: transform 1.5s ease-out;
}

.img-zoom__container .img-zoom {

  transition: transform 1.5s ease;
}

.img-zoom__container {
  max-width: 100%;
  overflow: hidden;
}

.we-offer {
  color: #fff;
  font-size: 35px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.we-offer span {
  display: block;
  color: #000;
  text-align: right;
}

.off {
  background: #ffa700;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 15px;
}

/*End of carousal*/
.tab-bane {
  justify-content: center;
}

/* start of animated pics II*/
.animated-picsII .tab-bane .col-3 {
  margin-right: 0;
}

.animated-picsII .tab-bane button,
.when-eye-clicked button.badge-pill {
  position: relative;
  width: auto;
  margin-top: 0;
  background: transparent;
}

.animated-picsII .tab-bane button:hover,
.when-eye-clicked button.badge-pill:hover {
  background: #ffa700;
  border: transparent;
  transition: border 1 ease, background 1 ease;
}

.animated-picsII .tab-bane div {
  background: transparent;
}

.animated-picsII .eye-icon+p+p,
.animated-picsII .eye-icon+p {
  position: static;
}

.animated-picsII .eye-icon+p+p {
  margin-top: 0;
}

/* end of animated pics II*/

/*brands carousal*/
.my-carousal ul {
  list-style: none;
  overflow: hidden;
}

.my-carousal ul li {
  display: inline-block;
}

/* end of brands carousal

/* start news box*/
.news {
  background: #ddd;
  margin: 50px auto;
  padding: 40px 0px 40px 25px;
}

.news h2 {
  color: #333;
}

.news h2+p {
  color: #888;
}

.news input {
  width: 400px;
  padding: 5px;
  outline: none;
  border-color: transparent;
}

.news button {
  padding: 3px;
  width: 70px;
  background: #ffa700;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
}

/* End news box*/

/*start Footer*/
.footer {
  color: #888;
}

.footer header {
  color: #000;
  font-size: 25px;
  font-weight: 400;
}

.footer header::after {
  content: "";
  background: #ffa700;
  height: 2px;
  width: 50px;
  display: block;
  margin-bottom: 60px;
}

a.info {
  color: #888;
  display: block;
  margin-top: -5px;
  font-size: 14px;
  transition: color 0.3s ease;
}

a.info:hover {
  color: #000;
  transition: color 0.3s ease;
  text-decoration: none;
}

a.info::before {
  content: "\2192";
  color: #000;
  display: inline-block;
  font-size: 25px;
  margin-right: 12px;
}

span.follow {
  color: #ffa700;
  display: block;
  margin: 20px auto 10px auto;
}

.small-icons div {
  background: #3e3e3e;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
}

.small-icons {
  width: 134px;
}

.small-icons img {
  vertical-align: middle;
}

.deviderr {
  background: #ddd;
  width: 100%;
  height: 1px;
}

.scroll-top {
  margin-top: 50px;
  position: relative;
}

.scroll-top button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding-top: 9px;
  background: rgba(255, 167, 0, 0.8);
  color: #fff;
  position: absolute;
  right: 80px;
  top: -20px;
  box-shadow: 0 0 40px #777;
  transition: background 0.5s ease;
  cursor: pointer;
}

.scroll-top button:hover {
  background: #ffa700;
  transition: background 0.3s ease;
}

footer {
  margin: 50px 0;
  text-align: center;
  font-size: 14px;
  color: #666;
}

footer span {
  color: #ffa700;
}

.icon {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  padding: 2px;
  margin-right: 10px;
  display: inline-block;
}

.icon+p {
  display: block;
}

/*End Footer*/

/* when eye clicked*/

.when-eye-clicked h3 {
  color: #ffa700;
}

.when-eye-clicked p {
  color: #aaa;
}

.when-eye-clicked .not-del {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
  margin: 20px 0;
}

.when-eye-clicked .not-del del {
  color: #aaa;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  margin: 20px 10px 20px 0;
}

.when-eye-clicked .stars-colored {
  color: #ffa700;
  font-size: 35px;
  margin-bottom: 50px;
}

.when-eye-clicked .stars-non-colored {
  font-size: 35px;
  margin-left: -4px;
  margin-bottom: 50px;
  color: #aaa;
}

.when-eye-clicked .colors span,
.when-eye-clicked .colors-names span {
  display: inline-block;
}

.when-eye-clicked .colors span.red,
span.blue,
span.purple,
span.violet {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-top: 50px;
}

.when-eye-clicked .colors span:last-child {
  color: #aaa;
  display: block;
}

.when-eye-clicked .colors span.red {
  background: #f00;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.when-eye-clicked .colors span.blue {
  background: #00f;
}

.when-eye-clicked .colors span.purple {
  background: purple;
}

.when-eye-clicked .colors span.violet {
  background: violet;
}

.head-colors {
  margin: 30px 0 -30px 0;
}

.when-eye-clicked {
  background: #fff;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: 50px auto;
  z-index: 9999;
  display: none;
  overflow: scroll;
}

.fixed-img-container {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;


}

.discount__first-img {
  background-image: url("../images/pexels-photo-54200.jpeg");
  width: 100%;

}